<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    
    <title>CleverCode</title>
</head>
<body>

  <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">&#60;&#60; &#8220;CleverCode&#8221; &#62;&#62;</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"><%=username%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><%=tag%></a>
          </li>
        </ul>
        <form class="d-flex" role="search" action = '/user/topic/progress' method="POST"  >
          <input class="form-control me-2" type="search" placeholder="Enter your handle" aria-label="Search" name="yourHandle">
          <section>

            <input type="hidden" id="hiddenTag" placeholder="Enter Username" name="hiddenTag"
              value="<%=tag%>"><!--this name is varible which is used in the query string-->
          </section>
          <button class="compare_btn btn-outline-success" type="submit">Check progress</button>
        </form>
      </div>
    </div>
  </nav>
  <section class="main">
    <%for(let c of solvedProblemsFinal){%>
            
      <div class="cardProblems">
        <h3><%=c.name%></h3>
        <p><%=c.rating%></p>
        <p><a href=<%=`https://codeforces.com/contest/${c.contestId}/problem/${c.index}`%>>Solve</a></p>
      </div>

  
    <% } %>
  </section>
        
        
              
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>